<div class="content">
  <h2>Biografi</h2>
  <p>
    Jag heter Mikael och är 28 år gammal, och jag bor själv i en etta i Haga. Jag har ett stort intresse för fotboll och jag följer ofta Premier League. Jag spelade själv fotboll när jag var yngre, men numera har jag fått ett stort intresse för psykologi, och gräver gärna ner mig i djupa psykoanalyser om hur människor- och djur är som art.
  </p>
  <p>
    På fritiden är jag mest hemma för mig själv, och programmerar allt från konsolprogram till hemsidor på internet. Det är ett intresse jag fått som låter mig vara kreativ utan gränser. Jag brukar jämföra det med att bygga lego när man var barn. Jag har också kvalificerat mig in i Mensa Sverige, vilket jag valde att göra för att utmärka mig från mängden när jag söker jobb.
  </p>
  <p>
    Som person är jag lugn, och innovativ och jag lyssnar hellre på andra, än att prata själv. Jag har inte ett stort behov av att synas. Jag går ofta på intuition och jag är inte speciellt impulsiv av mig. Jag vet oftast vad jag vill och jag är inte lättpåverkad av omgivningen. Jag är en väldigt tänkande person som söker förståelse för hur saker och ting fungerar. Jag brukar inte nöja mig med halvdana förklaringar, utan söker kritiskt efter svar. Jag är oberoende, och jobbar fast beslutet efter förbättringar.
  </p>
</div>
